.loder{
    margin: 100px;
}
.loder img{
    display:inline-block ;
    width: 0;
    height: 0;
    border-radius: 50%;
    margin-right: 8px;
    animation: bounce 8s infinite alternate;
}
.loder img:nth-child(2){
    animation-delay:2s ;
}
.loder img:nth-child(3){
    animation-delay:4s ;
}
.loder img:nth-child(4){
    animation-delay:6s ;
}

@keyframes bounce{
    to{
        width: 150px;
        height: 150px;
        transform: translate3d(0,-50,0);
    }
}