.container{
    display: flex;
    background: red;
}
.container div{
     background-color: yellow;
     margin: 20px;
     padding: 10px;
     font-size: 35px;
}
 .container div:nth-child(1){
    order: 2;
 }
 .container div:nth-child(2){
    order: 3;
 }
 .container div:nth-child(3){
    order: 4;
    flex-grow:0.5;
 }
 .container div:nth-child(4){
    order: 0;
 }
 .container2{
    display: flex;
    background: red;
    flex-direction: column;
}
.container2 div{
     background-color: yellow;
     margin: 20px;
     padding: 10px;
     font-size: 35px;
} 
.container3{
    display: flex;
    background: red;
    flex-direction: row;
    justify-content: space-evenly;
}
.container3 div{
     background-color: yellow;
     margin: 20px;
     padding: 10px;
     font-size: 35px;
}  .container4{
    display: flex;
    background: red;
    flex-direction: row;
    justify-content: flex-end;
    height: 200px;
}
.container4 div{
     background-color: yellow;
     margin: 20px;
     padding: 10px;
     font-size: 35px; 
     height: 50px;
    }
    .container div:nth-child(2){
    align-self: flex-end;
 } 
