h1{
 text-align: center;
 margin-bottom: 150px;
 padding: 100px;
 border: 5px  dashed blue ;
 background-color: black;
}

body{
    background: url(iphone.webp);
}

.gallery{
    margin: 10px;
    border: 1px solid black; 
    float: left;
    width: 300px; 
}
.gallery:hover{
    border: 10px solid blue;
}
.gallery img{
width: 100%;
height: auto;
}
.desc{
    padding: 15px;
    text-align: center;
}
