article p{
    background: red;
    color: blue;
    padding: 20px;
}
article div p{
    background: gold;
    color: brown;
    padding: 20px;
}

article>p{
    background: bisque;
    color:olive ;
    padding: 20px;
}
article~p{
    background: rebeccapurple;
    color: orange;
    padding: 20px;
}
article +p{
    background: olivedrab;
}
input:in-range{
    border: 2px solid green;
}
input:out-of-range{
    border: 2px solid red;
}
main p:first-child{
    background-color: blue;
}
#link:hover{
    background: rebeccapurple;
}
nav a{
    padding: 20px;
    margin: 20px;
}
nav{
    padding: 20px;
    background-color: yellow;
}
nav a:hover{
    background-color: yellowgreen;
}
nav a:active{
    background: yellowgreen;
}
nav a:visited{
    color: rgb(250, 122, 1);
}