.dropdown-content{
    display: none;
    
}
.dropdown:hover .dropdown-content{
    display: block;
    padding: 30px;
    width: 20px;
    background-color: aqua;
    box-shadow:10px 10px 10px 10px black ;
}
.tooltip{
    padding: 19px;
    display: inline-block;
    border: 2px dotted black;
}
.tooltip-text{
    visibility: hidden;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
    width: 100px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    top: 140px;
    left: 6%;
    margin-left: -60px;
}
#example1{
    width: 150px;
    height:250px;
    background-image:url(emoj.webp);
    border
}
#example2{
    width: 150px;
    height:250px;
    backgroundimage:url(emoj.webp);
}
